/* CSS voor de grid */

footer {
    grid-area: footer;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid #f7f7f7 1px;
}

aside {
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid #f7f7f7 1px;
}

header {
    display: flex;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    justify-content: center;
}

main {
    display: flex;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid #f7f7f7 1px;
    align-items: center;
    justify-content: center;
}

body {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 296px 1421px;
    grid-template-rows: 80px 350px 350px 80px;
    grid-template-areas:
          "header header header"

          "aside main main"

          "aside main main"

          "footer footer footer";
}

body {
    display: grid;
    grid-template-columns: 296px 1421px;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.main {
    grid-area: main;
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
    grid-row: 2 / 4;
}

h2.htekst {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 21px;
    color: #000000;
    margin: auto;
}

h2.starttekst {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}


p.ftekst, aside {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
